html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

header {
  width: 100%;
  height: 92%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  background-image: url('./img/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  z-index: 1;
}

header button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #e34a6f;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

header button:hover {
  background-color: #e4a3b3;
}

header img {
  z-index: 2;
  width: 50%;
  height: 50%;
  margin: auto;
  display: block;
  margin-bottom: 53vh;
}

button a {
  color: white;
  text-decoration: none;
}


nav {
  background-color: #134776;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding: 15px 45px;
  height: 6vh;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
}

nav a {
  color: white;
  text-decoration: none;
}

nav div:hover,
nav div.selected {
  display: block;
}

nav div:hover a {
  color: #72abfc;
  border-bottom: 1px solid #72abfc;
  font-weight: bold;
}

section {
  background-color: rgb(255, 255, 255);
  width: 75vw;
  padding: 20px;
  margin: 20px 15%;
  color: black;
  font-size: 1.1em;
  max-width: 70vw;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  padding-bottom: 20px;
}

.content img {
  float: right;
  width: 40%;
  height: 40%;
  padding-left: 20px;
  margin-top: -50px;
}

.content #city {
  float: right;
  width: 40%;
  height: 40%;
}

.earth {
  width: 20%;
  height: 20%;
}

#game{
  border-left: 3px solid #ff8c17;
  height: 40vh;
}

#doel {
  border-left: 3px solid #d0142d;
}

#thema {
  border-left: 3px solid #72a0f5;
  
}

#styleguide{
  width: 100%;
  height: 80%;
  margin-top: 50px;
}

#contact {
  border-left: 3px solid #8b112a;
  height: 60vh;
}

.container{
  display: flex;
}

.child{
  flex: 1;
  flex-wrap: wrap;
}

footer {
  background: #a16d9b;
  object-fit: cover;
  margin: 0;
  height: 10vh;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer li {
  display: table-cell;
  margin: 5px;
  padding: 10px;
  vertical-align: top;
  position: relative;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input[type=text],
[type=tel],
[type=number],
[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

#submit {
  background-color: #3185FC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  float: left;
  cursor: pointer;
}

#submit:hover {
  background-color: #72abfc;
}